# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data (optional - if large files)
data/processed/

__pycache__/
*.pyc
*.log
.venv/
env/